*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
nav{
    width: 100%;
    height: 90px;
    background-color: rgb(4, 4, 24);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h1{
    font-weight: bold;
    font-size: 35px;
    color: white;

}

.nav-links ul{
    list-style: none;

}
.nav-links ul li{
    display: inline-block;

}

.nav-links ul li a{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 15px;
    line-height: 70px;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

.nav-links ul li:hover > ul{
    display: list-item;
    background-color: rgb(4, 4, 24);

}

.nav-links ul ul li{
    width: 300px;
    float: none;
    display: list-item;
    position: relative;
}